{% extends 'base.html' %}
{% load static %}

{% block title %}
    KG's Blog
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/post.css' %}">
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock css_files %}

{% block body %}
    
    
    <section id='welcome'>
        <header>
            <img src="{% static 'blog/images/khaled.jpg' %}" alt="Khaled - The Author Of This Blog">
            <h2>KHALED'S BLOG &#128539;</h2>
        </header>

        <p>Hi, I'm khaled and I love to blog about tech and the world! &hearts;</p>
    </section>

    <section id="latest-posts">
        <h2>My Latest Thoughts</h2>
    
        <ul>
            {% for post in posts %}
                {% include 'blog/includes/post.html' %}
            {% endfor %}
            
        </ul>
    </section>


    
{% endblock body %}



